.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache

**/temp
**/private

content/.obsidian/stats.json
content/.obsidian/workspace.json
content/.obsidian/plugins/obsidian-completr/scanned_words.txt