@use "./base.scss";

// put your custom CSS here!

// typography improvements
h1 {
  font-size: 1.75rem;
  margin-top: 2.25rem;
  margin-bottom: 1rem;
  color: rgb(165, 0, 0);
  font-weight: 200;
}

h2 {
  font-size: 1.4rem;
  margin-top: 1.9rem;
  margin-bottom: 1rem;
  color: rgb(165, 0, 0);
  font-weight: 200;
}

h3 {
  font-size: 1.12rem;
  margin-top: 1.62rem;
  margin-bottom: 1rem;
  color: rgb(165, 0, 0);
  font-weight: 200;
}

h4,
h5,
h6 {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: rgb(165, 0, 0);
  font-weight: 200;
}